// Fonts
@import url('<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body, .bg-black, input {
    background-color: black;
}

.full-height {
    height: 100vh;
}

input {
    border: none;
    color: lightblue;
}

*:focus {
    outline: none;
}

.cursor {
	position: relative;
}
.cursor	i {
	position: absolute;
	width: 1px;
	height: 80%;
	background-color: gray;
	left: 5px;
	top: 10%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

.message.voice {
    text-align: left;

}

.message.world {
    text-align: right;
    color: lightgreen;
    align-self: flex-end;
}