// Fonts
@import url('<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body, .bg-black, input {
    background-color: black;
}

.full-height {
    height: 100vh;
}

input {
    border: none;
    color: lightblue;
}

*:focus {
    outline: none;
}